There has been an error in ProcureToPay DAX-to-ServiceNow integration.

Error Details:
#if( ${integrationStep} )
Error while executing Integration Step: ${integrationStep}
#end
Error Message: ${message}